<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

    <menuitem id="menu_vivafarm_petty_cash_root"
              name="Petty Cash"
              parent="hr_expense.menu_hr_expense_root"
              sequence="2"
              groups="account.group_account_user"/>

    <menuitem id="menu_vivafarm_petty_cash_fund"
              name="Funds"
              parent="menu_vivafarm_petty_cash_root"
              action="action_vivafarm_petty_cash_fund"
              sequence="10"/>

    <menuitem id="menu_vivafarm_petty_cash_voucher"
              name="Vouchers"
              parent="menu_vivafarm_petty_cash_root"
              action="action_vivafarm_petty_cash_voucher"
              sequence="20"/>

    </data>
</odoo>
